.bulk_queue_wrap{
   width: 90%; 
   margin:0 auto;
}
.bulk_queue_wrap .status-div{  
    position: relative;
    margin:10px auto;
    background: none;
}

.bulk_queue_wrap .status-div span.single-status{
    position:relative;
    display:block;
    margin: 5px auto;
}

.bulk_queue_wrap #wp-smpro-progressbar, .bulk_queue_wrap #wp-smpro-progressbar div{
    border: 1px #232323 solid;
    background: #fff none;
    border-radius: 10px;
    height:20px;
}

.bulk_queue_wrap #wp-smpro-progressbar div{
    background: #b3cc57 none;
    border: 0px #232323 solid;
}