# Ignore hidden files and directories
.DS_Store
.idea
.svn

# Ignore system files
composer.lock
npm-debug.log
package-lock.json

# Ignore build directories and tmp folders
build
node_modules
assets/css
assets/js