[submodule "extras/free-dashboard"]
	path = extras/free-dashboard
	url = git@bitbucket.org:incsub/free-dashboard.git
[submodule "extras/dash-notice"]
	path = extras/dash-notice
	url = git@bitbucket.org:incsub/wpmudev-dashboard-notification.git
	branch = master
