[submodule "extras/free-dashboard"]
	path = core/external/free-dashboard
	url = git@bitbucket.org:incsub/free-dashboard.git
[submodule "extras/dash-notice"]
	path = core/external/dash-notice
	url = git@bitbucket.org:incsub/wpmudev-dashboard-notification.git
	branch = master
[submodule "core/external/plugin-notice"]
	path = core/external/plugin-notice
	url = git@bitbucket.org:incsub/recommended-plugins-notice.git
