<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="smush">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>./tests/test-api.php</exclude>
		</testsuite>
	</testsuites>

	<groups>
		<exclude>
			<group>multisite</group>
		</exclude>
	</groups>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">app/pages</directory>
			<file>app/pages/class-abstract-page.php</file>
			<file>app/pages/class-admin.php</file>
			<file>app/pages/class-ajax.php</file>
			<directory suffix=".php">core</directory>
			<file>wp-smush.php</file>
			<exclude>
				<file>core/class-cli.php</file>
				<directory>core/external</directory>
				<directory>core/integrations/nextgen</directory>
				<directory>core/integrations/s3</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
