@import "~@wpmudev/shared-ui/scss/shared-ui.scss";

@include body-class {

  .sui-wrap {

    .tc {
      text-align: center;
    }

    .sui-box {

      &.sui-summary-smush-nextgen {
        padding: 0;
      }

      .sui-box-body {

        .sui-box-settings-row {

          .sui-box-settings-col-1 {
            width: 30%;
          }

          .sui-box-settings-col-2 {

            display: flex;
            flex-wrap: wrap;
            .column-right-content {
              display: inline-grid;
              min-width: 30%;
              max-width: 94%;
              margin-bottom: 15px;

              .smush-settings-right-label {
                margin-left: 0;
              }
            }

            .smush-col-2-content {
              width: 100%;
              display: flex;
            }
          }

          .sui-notice {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }

        &.smush-quick-setup-settings {

          .sui-box-settings-row {

            .sui-box-settings-col-1 {
              width: 85%;
            }
          }
        }

        span {
          &.wp-smush-li-path {
            background: url(../images/folder-closed.svg) no-repeat;
            background-position-y: 6px;
            line-height: 2;
            padding: 0 30px;
            max-width: 87%;
            font-size: 13px;
            background-position-y: inherit;

            .sui-tag {
              margin-left: 8px;
            }
          }
        }

        &.smush-summary-box-body {
          padding: 15px 30px 0;
        }

        .wp-smush-enable-lossy {
          color: #888888;
          font-size: 13px;
          line-height: 22px;
          margin-top: 20px;
        }
      }
    }

    .smush-sidenav {

      .smush-nav-icon {

        position: absolute;
        right: 4px;
        top: 4px;
        display: inline-block;
        &.bulk:not(.sui-tag) {
          &:before {
             color: $notice-default-icon-color;
            vertical-align: middle;
            font-size: 18px;
          }
          @include icon(before, check-tick, true);
        }
      }

      .current {
        .bulk:not(.sui-tag) {
          &:before {
            color: $notice-success-icon-color;
          }
        }
      }
    }

    .sui-actions-right {
      float: right;
      display: inline-block;
    }

    .smush-dir-smush-accordion {

      border: 1px solid #e6e6e6;

      &:after {
        content: unset;
      }

      .sui-box-body {
        padding-bottom: 5px;
        padding-top: 5px;

        p {
          font-size: 13px;
        }
      }

      tr, td {
        &.optimised {
          border-left: 2px #1abc9c solid;
          color: inherit;
        }

        &.partial {
          border-left: 2px #fecf2f solid;
          color: inherit;
        }

        &.error {
          border-left: 2px #ff6d6d solid;
          color: inherit;
        }

        .sui-notice {
          margin: 30px 0;
        }
      }

      .wp-smush-dir-progress-wrap {
        background: none;
        height: inherit;
        padding: 0;
        padding-right: 35px;

        &.sui-progress-block {
          float: right;
          width: auto;
        }

        .wp-smush-image-dir-exclude {
          display: inline-block;
        }

        .wp-smush-exclude-dir {
          margin-right: 10px;

          i {
            margin-right: 0;
          }
        }

        .wp-smush-image-dir-progress {
          &.optimised {
            &:before {
              color: $notice-success-icon-color;
              vertical-align: middle;
              font-size: 18px;
            }
            @include icon(before, check-tick, true);
          }

          &.partial {
            font-size: 18px;
            &:before {
              color: $notice-warning-icon-color;
            }
            @include icon(before, warning-alert, true);
          }
        }

        .wp-smush-image-progress-percent {
          padding-right: 10px;
          font-size: 13px;
        }
      }

      .wp-smush-image-ele {
        .wp-smush-image-ele-progress {
          font-size: 18px;
          &.partial {
            &:before {
              color: $notice-warning-icon-color;
            }
            @include icon(before, warning-alert, true);
          }

          &.optimised {
            &:before {
              color: $notice-success-icon-color;
              vertical-align: middle;
              font-size: 18px;
            }
            @include icon(before, check-tick, true);
          }
        }
      }

      .wp-smush-image-ele-progress {
        float: right;
        padding-right: 35px;
      }

      li.wp-smush-image-ele {
        padding: 5px;
        .wp-smush-image-ele-progress {
          padding-right: 0;
        }
      }
    }

    .wp-smush-resize-settings-wrap,
    .wp-smush-png_to_jpg-wrap,
    .wp-smush-image-size-list {
      background-color: #FFFFFF;
      border: 1px solid #E6E6E6;
      border-radius: 5px;
      color: #555;
      margin: 1.5em 0 0;
      overflow: hidden;
      padding: 30px;
      vertical-align: middle;

      .sui-checkbox {

        .sui-description {
          font-size: 13px;
        }
      }
    }

    .sui-summary-smush,
    .sui-summary-smush-nextgen {
      background-image: url(../images/smush.png);
    }

    .smush-pro-features {

      .smush-pro-feature-title {
        font-weight: 500;
        line-height: 30px;
        color: #333;
        padding: 0 0 0 30px;
        position: relative;
        &:before {
          color: $notice-info-icon-color;
          vertical-align: middle;
          margin-left: -30px;
          margin-right: 10px;
          font-size: 18px;
        }
        @include icon(before, check-tick, true);
      }

      .smush-pro-feature-desc {
        color: #888888;
        font-size: 13px;
        line-height: 22px;
        padding: 0 0 0 33px;
      }
    }

    .sui-upsell-row {
      margin-top: 60px;
      .sui-upsell-image {
        &.sui-upsell-image-smush {
          bottom: -30px;
          width: 85px;
        }
      }
    }

    .sui-notice {
      &.smush-notice-sm {
        p {
          font-size: 13px;
        }
      }
    }

    .hidden, button.hidden {
      display: none;
    }

    .sui-loading {
      font-size: 18px;
    }
  }

  ul {

    &.jqueryFileTree {
      color: #888888;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      margin-top: 5px;

      .wp-smush-list {
        margin-top: 2px;
        vertical-align: top;
      }

      li {
        display: inline-block;
        padding: 0 0 5px 20px;

        .ext_tif,
        .ext_tif,
        .ext_tiff,
        .ext_png,
        .ext_pcx,
        .ext_jpeg,
        .ext_jpg,
        .ext_gif,
        .ext_bmp {
          background: url(../images/image.svg) left top no-repeat;
        }

        &.directory {
          background: url(../images/folder-closed.svg) left top no-repeat;
        }

        &.expanded {
          background: url(../images/folder-open.svg) left top no-repeat;

          &.selected {
            background: url(../images/folder-open-selected.svg) left top no-repeat;

            > a,
            .file.selected {
              a {
                color: #17a8e3;
              }
            }

            #Folder-22px-Solid-3-Open {
              fill: #17a8e3;
            }
          }
        }

        &.selected > a {
          font-weight: 500;
        }
      }
    }

    &.jqueryFileTree a:hover {
      background: #f8f8f8;
      color: #888888;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }

  span {
    &.add-dir-loader {
      padding-right: 10px;
      font-size: 18px;
    }
  }

  .sui-button {

    &.smush-button-check-success,
    &.smush-button-check-success:hover {
      background: #d1f1ea;
      color: #1abc9c;
      pointer-events: none;
      @include icon(before, check-tick, true);

      &:before {
        padding-right: 5px;
        color: $notice-success-icon-color;
      }
    }

    &.wp-smush-skip-resmush,
    &.wp-smush-skip-resmush:hover {
      display: block;
      background: transparent !important;
      border: 2px solid #888 !important;
      color: #888 !important;
    }
  }
}