/* ****************************************************************************
 * MODULE: Directory Smush styles.
 */

@include body-class {

	// Remove border on focus.
	.wp-smush-list-dialog .jqueryFileTree:focus,
	.wp-smush-scan-result .wp-smush-image-list-inner:focus {
		outline: 0 solid transparent;
	}

	ul.jqueryFileTree {
		color: #666;
		font-family: "Roboto", sans-serif;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: -0.25px;
		line-height: 20px;
		padding: 0;
		margin: 0;
		display: none;

		li {
			line-height: 33px;
			margin: 0 0 0 40px;
			white-space: nowrap;
			border-bottom: 5px solid #fff;

			.sui-checkbox {
				position: relative;
				margin: 0 30px -4px -25px;
				display: inline-block;
			}

			a, a:hover {
				color: #666;
				font-size: 13px;
				cursor: pointer;
				padding-left: 5px;
			}

			.ext_tif:before,
			.ext_tif:before,
			.ext_tiff:before,
			.ext_png:before,
			.ext_pcx:before,
			.ext_jpeg:before,
			.ext_jpg:before,
			.ext_gif:before,
			.ext_bmp:before,
			&.directory:before {
				font-family: wpmudev-plugin-icons, sans-serif;
				position: relative;
				top: 2px;
				left: 18px;
				font-size: 16px;
				content: 'D';
				color: #17A8E3;
			}

			&.directory:before {
				top: 1px;
				content: '\2D8';
				color: #AAA;
			}

			&.directory.wait:before {
				content: 'N';
				display: inline-block;
				animation: spin 1.3s linear infinite;
			}

			&.expanded:before {
				content: '\BB';
			}

			&.selected:before,
			&.selected .collapsed:before {
				color: #17A8E3;
			}

			&.selected,
			&.expanded {
				ul.jqueryFileTree {
					border-top: 5px solid #fff;
					margin-left: -30px;
					padding-left: 20px;
				}

				li {
					padding-left: 30px;
					margin-left: 6px;
				}
			}

			&.selected {
				background-color: #E1F6FF;
				padding-left: 30px;
				margin-left: 10px;

				a, a:active {
					color: #17A8E3;
				}

				ul.jqueryFileTree {
					background-color: #fff;
				}

				li {
					background-position-x: 31px;
					background-color: #E1F6FF;
				}
			}

			// Overwrites for a disabled state.
			// TODO: I know it's important and all, but remove them!
			&.disabled {
				background-color: #FFF !important;
				opacity: 0.6;

				&:before {
					color: #DDD !important;
				}

				& > a {
					cursor: default;
					color: #AAA !important;
				}

				.sui-checkbox > span {
					background-color: #C2C2C2 !important;
					border-color: #C2C2C2 !important;
				}
			}
		}
	}

}