/* ****************************************************************************
 * MODULE: VARIABLES
 */

$font--path: "../fonts" !default;
$img--path: "../images" !default;

$summary-image: '#{$img--path}/smush-graphic-dashboard-summary.svg';
